input {
    border: 1px solid #2a363b;
    border-radius: 4px;
    font-size: 18px;
    resize: none;
    margin-bottom: 10px;
}

.form {
    width: 450px;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    border: 1px solid #2a363b;
    border-radius: 4px;
    margin-bottom: 15px;
    color: #2a363b;
}

.label {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 25px;
    margin: 5px 0px;
    font-size: 15px;
}

.button {
    background-color: #e9e9e9;
    padding: 3px 5px;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 15px;
    width: 100px;
}

.button:hover {
    cursor: pointer;
}

.button:active {
    background: #d3d3d3;
}



